<section class="start">
  <div class="start-slider">
    <div class="start-slider-slide">
      <div class="slide-content">
        <div class="slide-content-icons">
          <a class="slide-content-icons-discord slide-content-icons-separator" href="https://discord.gg/ebd5p4S" target="_blank">
            <fa-icon [icon]="faDiscord"></fa-icon>
          </a>
          <a class="slide-content-icons-insta slide-content-icons-separator" href="https://www.instagram.com/leyendas_rp_2.0/" target="_blank">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
          <a class="slide-content-icons-face" href="https://www.facebook.com/leyendasrp/" target="_blank">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


