<section class="rules">
    <h1 class="rules-title">Reglamentos de la Ciudad</h1>
    <div class="container">
        <div class="row rules-center">
          <div class="col-lg-4 col-md-6 col-sm-12	rules-separation" *ngFor="let rule of rules">
            <div class="card rules-card" style="width: 18rem;">
                <img class="card-img-top" [src]="rule.image" [alt]="rule.caption">
                <div class="card-body">
                  <h5 class="card-title">{{ rule.title }}</h5>
                  <p class="card-text">{{ rule.description }}</p>
                  <a [href]="rule.url" target="_blank" class="btn btn-primary">{{ rule.action }}</a>
                </div>
              </div>
          </div>
        </div>
      </div>
</section>