<div class="navbar">
  <img class="logo" src="assets/logonav.png" alt="logo" />
  <nav>
    <ul class="navbar-links">
      <li>
        <a [routerLink]="['']">
          Inicio
        </a>
      </li>
      <li>
        <a [routerLink]="['/reglamentos']">
          Reglamentos
        </a>
      </li>
      <li>
        <a [routerLink]="['/staff']">
          Staff
        </a>
      </li>
    </ul>
  </nav>
  <a class="navbar-action" href="fivem://connect/cfx.re/join/8kmz6m">
    <button>Entrar a LeyendasRP</button>
  </a>
</div>
