<div class="navbar">
  <img class="logo" src="assets/logonav.png" alt="logo" />
  <nav>
    <ul class="navbar-links">
      <li>
        <a [routerLink]="['']" routerLinkActive="navbar-links-active" [routerLinkActiveOptions]="{exact: true}">
          Inicio
        </a>
      </li>
      <li>
        <a [routerLink]="['/reglamentos']" routerLinkActive="navbar-links-active">
          Reglamentos
        </a>
      </li>
      <li>
        <a [routerLink]="['/staff']" routerLinkActive="navbar-links-active">
          Staff
        </a>
      </li>
    </ul>
  </nav>
  <a class="navbar-action" href="fivem://connect/cfx.re/join/bdpj4l">
    <button>Entrar a LeyendasRP 2.4</button>
  </a>
</div>