@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.navbar {
    align-items: center;
    background-color: black;
    box-shadow: 0px 5px 17px 5px rgba(0,0,0,0.45);
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;

    &-links {
        display: flex;
        list-style: none;
        margin-top:unset;
        margin-bottom: unset;

        @media (max-width: 425px) { 
            flex-direction: column;
        }

        li {
            display: inline-block;
            padding: 0 20px;

            @media (max-width: 425px) { 
                padding: 5px;
            }

            a {
                cursor: pointer;
                font-size: 25px;
                transition: all 0.3s ease 0s;
                @media (max-width: 1086px) { 
                    font-size: 1rem;
                }

                @media (max-width: 950px) { 
                    font-size: 25px;
                }

                @media (max-width: 425px) { 
                    font-size: 15px;
                }
            }
    
            a:hover {
                color: #0088a9;
            }
        }

        &-active {
            color: white;
            text-decoration: underline;
        }
    }

    &-action {
        button {
            background-color: purple;
            border-radius: 50px;
            border: none;
            color: #edf0f1;
            cursor: pointer;
            font-family: 'Montserrat', sans-serif;
            font-size: 25px;
            font-weight: 500;
            padding: 9px 25px;
            text-decoration: none;
            transition: all 0.3s ease 0s;

            @media only screen and (max-width: 1200px) {
                font-size: 20px;
            }
        }

        @media (max-width: 952px) { 
            display: none;
         }
    }
}

li, a {
    color: #edf0f1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
